<!-- <div class="flex flex-col items-center mt-10 text-lg">Please leave a rating on the scale of 1-10.

<div class="flex items-center gap-2 mt-7">

    <button *ngFor="let star of stars" type="button" (click)="setRating(star)"
        class="transition-transform hover:scale-110">

        <svg xmlns="http://www.w3.org/2000/svg" [attr.fill]="rating >= star ? '#facc15' : 'none'" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#facc15" class="w-10 h-10">

            <path stroke-linecap="round" stroke-linejoin="round"
                d="M11.48 3.499a.75.75 0 011.04 0l2.226 2.258a.75.75 0 00.565.216l3.127-.454a.75.75 0 01.832.832l-.454 3.127a.75.75 0 00.216.565l2.258 2.226a.75.75 0 010 1.04l-2.258 2.226a.75.75 0 00-.216.565l.454 3.127a.75.75 0 01-.832.832l-3.127-.454a.75.75 0 00-.565.216l-2.226 2.258a.75.75 0 01-1.04 0l-2.226-2.258a.75.75 0 00-.565-.216l-3.127.454a.75.75 0 01-.832-.832l.454-3.127a.75.75 0 00-.216-.565L2.46 13.52a.75.75 0 010-1.04l2.258-2.226a.75.75 0 00.216-.565L4.48 6.562a.75.75 0 01.832-.832l3.127.454a.75.75 0 00.565-.216l2.226-2.258z" />
        </svg>

    </button>
</div>
<button (click)="submitRating()" class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700 transition mt-7">Submit</button>
</div> -->

<div class="flex flex-col items-center mt-16" *ngIf="!submitted">

    <h1 class="text-3xl font-bold mb-8">
        Please leave a rating...
    </h1>

    <p class="text-gray-500 mb-10">
        Rate from 1 to 10
    </p>

    <div class="flex flex-wrap justify-center gap-4 max-w-3xl">

        <button *ngFor="let number of numbers" (click)="setRating(number)"
            class="w-14 h-14 rounded-full text-lg font-bold text-white shadow-lg transition-all duration-300 hover:scale-110 active:scale-95"
            [ngClass]="{

        'bg-red-500 hover:bg-red-600':
        number <= 3 && rating !== number,

        'bg-orange-500 hover:bg-orange-600':
        number >= 4 && number <= 6 && rating !== number,

        'bg-yellow-400 hover:bg-yellow-500':
        number >= 7 && number <= 8 && rating !== number,

        'bg-green-500 hover:bg-green-600':
        number >= 9 && rating !== number,

        'ring-4 ring-blue-500 shadow-xl scale-110 bg-blue-600 text-white':
        rating === number
      }">

            {{ number }}

        </button>

    </div>

    <div class="flex justify-between w-full max-w-3xl mt-4 text-sm text-gray-500 px-2">

        <span>Not Likely</span>

        <span>Very Likely</span>

    </div>

    <button (click)="submitRating()" [disabled]="rating === 0"
        class="bg-blue-600 text-white px-3 py-1 text-lg rounded-xl hover:bg-blue-700 transition mt-20">
        Submit
    </button>

</div>

<!--Thank You after submission -->
<div *ngIf="submitted" class="flex flex-col items-center text-green-700 px-8 py-6 rounded-2xl text-xl font-semibold">
    Thank you for your feedback!!!
</div>