<nav class="bg-blue-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    
    <!-- Logo -->
    <div class="text-white text-xl font-bold">
      <a routerLink=""><img src="favicon.png">URL Shortener</a>
    </div>

    <!-- Menu -->
    <ul class="hidden md:flex space-x-6 text-white">
      <li><a routerLink="/about" class="cursor-pointer hover:text-gray-200">About</a></li>
      <li><a routerLink="/contact" class="cursor-pointer hover:text-gray-200">Contact</a></li>
      <li><a routerLink="/rateus" class="cursor-pointer hover:text-gray-200">Rate Us</a></li>
    </ul>
  </div>
</nav>